version: '3.8'

services:
  server:
    build: ./server
    container_name: hackathon-server
    ports:
      - "3000:3000"
    volumes:
      - ./server:/app
      - /app/node_modules

  client:
    build: ./client
    container_name: hackathon-client
    ports:
      - "5173:5173"
    volumes:
      - ./client:/app
      - /app/node_modules
    environment:
      - VITE_API_URL=http://localhost:3000
    depends_on:
      - server